h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

body {
    background-image: linear-gradient(to left, blue, green);
}



.mycont2 {
    height: 400px;
    width: 100%;
    border: 1px solid gray;
    margin-left: 150px;
    color: white;
    font-size: 20px;
}

#btn {
    width: 75px;
    height: 40px;
}

h3 {
    margin-left: 210px;
    color: white;
}

.card {
    width: auto;
    height: auto;
    display: inline-flex
}
