h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.mycont {
    height: 600px;
    background-color: lightgray;
    width: 400px;
    padding-right: 70px;
    margin-right: 250px;
}

.mycont2 {
    height: 400px;
    width: 100%;
    border: 1px solid gray;
    margin-left: 230px;
}

#btn {
    width: 75px;
    height: 40px;
}

h3 {
    margin-left: 210px;
}